In [16]:
import pandas as pd

In [39]:
df1 = pd.read_excel('Iterations\\Iter1\\1.2\\gemini_label.xlsx')

In [40]:
df2 = pd.read_excel('Iterations\\Iter1\\1.2\\gemini_label_2.xlsx')

In [41]:
df1

,id,text,label,dataset_type,predict_label,gemini_label
0,6812,M·∫•y c√°i ng∆∞·ªùi m√† k·ª≥ th·ªã lgbt th√¨ qu√° l√† l·∫°c h·∫≠...,1,train,0,1
1,3600,"gi·ªù ƒëi xklƒë c≈©ng ph·∫£i ƒë√≥ng bhxh nha, ƒë·∫£ng ta t...",1,train,0,1
2,10887,con d·∫ßy ƒÉn ch·∫øt hon,0,train,1,1
3,3409,"Ta th√¨ nghƒ© th·∫±ng n√†y l√† ng∆∞·ªùi c·ªßa t√†u c·ªông, ƒë...",1,train,0,1
4,29465,"Sao l·∫°i c√≥ nh·ªØng ng∆∞·ªùi m·∫π nh·∫´n t√¢m nh∆∞ v·∫≠y, co...",1,train,0,0
...,...,...,...,...,...,...
1762,26689,Gi·∫øt ng∆∞·ªùi s·∫Ω b·ªã ƒë·ªÅn t·ªôi,1,train,0,1
1763,29592,N·ªØ sinh l·ªõp 9 t·ªï ch·ª©c sinh nh·∫≠t t·∫°i qu√°n Karao...,0,train,1,1
1764,6485,bƒÉÃÅc kyÃÄ con ƒë√¢u r√¥ÃÄi con trai ???m√¢m naÃÄo cuÃÉ...,1,train,0,1
1765,39913,ƒë·∫øn tand t·ªânh qu·∫£ng b√¨nh n·ªôp ƒë∆°n xin th√¥i vi·ªá...,1,train,0,0
1766,10689,"Tho·∫°i Tr·∫ßn \""r·∫ßu\"" l√† clj ???:D???",0,train,1,1

In [42]:
df2

,id,text,label,dataset_type,predict_label,gemini_label
0,42856,csgt vi·ªát nam nh∆∞ th·∫ø n√†o th√¨ ng∆∞·ªùi d√¢n hi·ªÉu ...,1,train,0,1
1,491,tao noÃÅi thi√™Ã£t ... tao v√¢ÃÉn xem tin chuÃÅng b√¢...,1,train,0,1
2,30698,Ch·ªâ nh·ªØng ng∆∞·ªùi v√¥ tr√°ch nhi·ªám m·ªõi ƒë·∫ª nhi·ªÅu m√†...,1,train,0,1
3,27703,"BMW ng√†y c√†ng c·∫£i ti·∫øn v√† n√¢ng c·∫•p, t·∫°o c·∫£m gi...",1,train,0,1
4,2318,"·ªû VN th√¨ c√≥ th·ªÉ, t√¥i nh·∫•n m·∫°nh l√† c√≥ th·ªÉ th√¥i ...",1,train,0,1
...,...,...,...,...,...,...
1745,6292,Toang r·ªìi √¥ng gi√°o ·∫° :)),0,train,1,0
1746,19481,Tr∆∞ÃÄ noÃÅi tuÃ£c ra caÃÅch noÃÅi chuy√™Ã£n r√¢ÃÅt d√™ÃÉ ...,0,train,1,0
1747,28030,KH√îNG ƒê·ªåC B√ÅO SAO TR·ªúI,0,train,1,0
1748,28686,"N√™n ch·ªânh s·ª≠a ph√°p lu·∫≠t ƒë·ªÉ b·∫£o v·ªá tr·∫ª em, t·ªãch...",0,train,1,0
1749,18703,ua roi cai nut xac nhan dau,0,train,1,0

In [43]:
df1['gemini_label'] = df1['gemini_label'].apply(int)
df2['gemini_label'] = df2['gemini_label'].apply(int)

In [44]:
df = pd.concat([df1, df2])

In [45]:
df

,id,text,label,dataset_type,predict_label,gemini_label
0,6812,M·∫•y c√°i ng∆∞·ªùi m√† k·ª≥ th·ªã lgbt th√¨ qu√° l√† l·∫°c h·∫≠...,1,train,0,1
1,3600,"gi·ªù ƒëi xklƒë c≈©ng ph·∫£i ƒë√≥ng bhxh nha, ƒë·∫£ng ta t...",1,train,0,1
2,10887,con d·∫ßy ƒÉn ch·∫øt hon,0,train,1,1
3,3409,"Ta th√¨ nghƒ© th·∫±ng n√†y l√† ng∆∞·ªùi c·ªßa t√†u c·ªông, ƒë...",1,train,0,1
4,29465,"Sao l·∫°i c√≥ nh·ªØng ng∆∞·ªùi m·∫π nh·∫´n t√¢m nh∆∞ v·∫≠y, co...",1,train,0,0
...,...,...,...,...,...,...
1745,6292,Toang r·ªìi √¥ng gi√°o ·∫° :)),0,train,1,0
1746,19481,Tr∆∞ÃÄ noÃÅi tuÃ£c ra caÃÅch noÃÅi chuy√™Ã£n r√¢ÃÅt d√™ÃÉ ...,0,train,1,0
1747,28030,KH√îNG ƒê·ªåC B√ÅO SAO TR·ªúI,0,train,1,0
1748,28686,"N√™n ch·ªânh s·ª≠a ph√°p lu·∫≠t ƒë·ªÉ b·∫£o v·ªá tr·∫ª em, t·ªãch...",0,train,1,0
1749,18703,ua roi cai nut xac nhan dau,0,train,1,0

In [49]:
df['true_label'] = df['gemini_label']

In [50]:
df

,id,text,label,dataset_type,predict_label,gemini_label,true_label
0,6812,M·∫•y c√°i ng∆∞·ªùi m√† k·ª≥ th·ªã lgbt th√¨ qu√° l√† l·∫°c h·∫≠...,1,train,0,1,1
1,3600,"gi·ªù ƒëi xklƒë c≈©ng ph·∫£i ƒë√≥ng bhxh nha, ƒë·∫£ng ta t...",1,train,0,1,1
2,10887,con d·∫ßy ƒÉn ch·∫øt hon,0,train,1,1,1
3,3409,"Ta th√¨ nghƒ© th·∫±ng n√†y l√† ng∆∞·ªùi c·ªßa t√†u c·ªông, ƒë...",1,train,0,1,1
4,29465,"Sao l·∫°i c√≥ nh·ªØng ng∆∞·ªùi m·∫π nh·∫´n t√¢m nh∆∞ v·∫≠y, co...",1,train,0,0,0
...,...,...,...,...,...,...,...
1745,6292,Toang r·ªìi √¥ng gi√°o ·∫° :)),0,train,1,0,0
1746,19481,Tr∆∞ÃÄ noÃÅi tuÃ£c ra caÃÅch noÃÅi chuy√™Ã£n r√¢ÃÅt d√™ÃÉ ...,0,train,1,0,0
1747,28030,KH√îNG ƒê·ªåC B√ÅO SAO TR·ªúI,0,train,1,0,0
1748,28686,"N√™n ch·ªânh s·ª≠a ph√°p lu·∫≠t ƒë·ªÉ b·∫£o v·ªá tr·∫ª em, t·ªãch...",0,train,1,0,0
1749,18703,ua roi cai nut xac nhan dau,0,train,1,0,0

In [51]:
df.to_csv('Iterations\\Iter1\\1.2\\finish_data1.csv', index=False)

In [47]:
gemini_mislabel =df[df['label'] != df['gemini_label']]

In [48]:
gemini_mislabel

,id,text,label,dataset_type,predict_label,gemini_label
2,10887,con d·∫ßy ƒÉn ch·∫øt hon,0,train,1,1
4,29465,"Sao l·∫°i c√≥ nh·ªØng ng∆∞·ªùi m·∫π nh·∫´n t√¢m nh∆∞ v·∫≠y, co...",1,train,0,0
11,39983,t√°m nƒÉm tr∆∞·ªõc c√¥ ·∫•y ƒëi b·ªô t·ª´ mi·ªÅn nam ra thƒÉm...,1,train,0,0
13,28660,T√¥i ƒë·ªçc b√†i √≠t khi b√¨nh lu·∫≠n.Nh∆∞ng ch∆∞a th·∫•y t...,1,train,0,0
14,27503,"C√° voi s√°t th·ªß th√¥ng minh, ƒë·ª©ng ƒë·∫ßu chu·ªói th·ª©c...",1,train,0,0
...,...,...,...,...,...,...
1343,7304,·ª¶a c√°i n√†y trend b√™n VN th·ªùi s·ª≠u nhi 9x m√† ta üôÑ,1,train,0,0
1344,6384,Lam giong bede ws,1,train,0,0
1345,6084,bu·ªìn n√¥n qu√° n√® anh ∆°i :)),1,train,0,0
1346,6670,"C·∫£m th·∫•y ng·ªôt ng·∫°t qu√° th√¨ ƒë∆∞a a v√†o r·ª´ng ·ªü, ·ªü...",1,train,0,0
1347,30146,Vi·ªác ƒë·∫∑t t√™n ca kh√∫c ng√†y nay nghe c√≥ v·∫ª kh√° t...,1,train,0,0