In [1]:
import pandas as pd

In [16]:
data1 = pd.read_csv('Iterations\\Iter1\\data1_done.csv')

In [17]:
data2 = pd.read_csv('Iterations\\Iter1\\data2_done.csv')

In [18]:
df = pd.concat([data1, data2], axis=0)

In [19]:
df

,id,text,label,dataset_type,check
0,0,B·∫•p b√™nh vl th·∫ø,1,train,True
1,2,Th·∫•y ch√°n ad page n√†y ki·∫øn th·ª©c th√¨ n√¥ng c·∫£n c...,1,train,NaN
2,3,Giang Giang ƒê·ªó Th·ªã Ng·ªçc H√† trend m·ªõi k√¨a k√¨a,0,train,NaN
3,4,ƒëcm üòí sau c√≥ con cho h√∫t c·ªè ch·ªØa b·ªánh ch·ª© ƒë√©o ...,1,train,NaN
4,5,M√° n·ª©ng qu√° aiu ∆°i,0,train,True
...,...,...,...,...,...
22999,46002,"trong tr∆∞·ªùng h·ª£p n√†y, theo ls. khanh, b√† h·∫±ng...",1,test,True
23000,46003,b√† c≈©ng kh√¥ng √≠t l·∫ßn ch·ªâ tr√≠ch n·∫∑ng n·ªÅ nh·ªØng ...,0,test,NaN
23001,46004,‚Äúb√† nguy·ªÖn ph∆∞∆°ng h·∫±ng c√≥ nhi·ªÅu bi·ªÉu hi·ªán ƒë√£ ...,0,test,NaN
23002,46005,v≈© ƒë·ª©c khanh n√≥i. b√† nguy·ªÖn ph∆∞∆°ng h·∫±ng b·∫Øt ƒë...,0,test,NaN
23003,46006,".. tr∆∞·ªõc khi b·ªã b·∫Øt, b√† nguy·ªÖn ph∆∞∆°ng h·∫±ng ƒë√£ ...",0,test,NaN

In [20]:
train = df.loc[df['dataset_type'] == 'train']

In [21]:
val = df.loc[df['dataset_type'] == 'dev']

In [22]:
test = df.loc[df['dataset_type'] == 'test']

In [23]:
train

,id,text,label,dataset_type,check
0,0,B·∫•p b√™nh vl th·∫ø,1,train,True
1,2,Th·∫•y ch√°n ad page n√†y ki·∫øn th·ª©c th√¨ n√¥ng c·∫£n c...,1,train,NaN
2,3,Giang Giang ƒê·ªó Th·ªã Ng·ªçc H√† trend m·ªõi k√¨a k√¨a,0,train,NaN
3,4,ƒëcm üòí sau c√≥ con cho h√∫t c·ªè ch·ªØa b·ªánh ch·ª© ƒë√©o ...,1,train,NaN
4,5,M√° n·ª©ng qu√° aiu ∆°i,0,train,True
...,...,...,...,...,...
21126,44119,"nh·ªù v√†o b√†n tay ƒë·∫£m ƒëang, kh√©o l√©o c·ªông th√™m ...",0,train,NaN
21127,44122,"Ch√≠nh quy·ªÅn n√†y, n√≥ kh√¥ng ph·∫£i l√† c∆° quan c·ªßa...",1,train,NaN
21128,44124,"ƒê·ª´ng ƒë·ªÉ cho nh·ªØng k·∫ª ƒë·ªôc t√†i, nh·ªØng k·∫ª kh√¥ng ...",1,train,NaN
21129,44125,ukraine t·ª´ ch·ªëi trung qu·ªëc vi·ªán tr·ª£ tr∆∞·ªõc s·ª± p...,0,train,NaN
21130,44133,ƒë∆∞·ª£c b·ªô ch√≠nh tr·ªã vi·ªát nam ban h√†nh v√†o th√°ng...,1,train,NaN

In [24]:
test

,id,text,label,dataset_type,check
3333,8407,T·ª´ l√∫c m·∫•y bro cmt c·ª±c k√¨ cl g√¨ ƒë·∫•y l√† r·∫•t kh√≥...,1,test,NaN
3334,8408,Nghe tr·∫ßn d·∫ßn th·∫•y c∆∞·ªùi ƒëau c·∫£ b·ª•ng,0,test,NaN
3335,8409,Idol tui c√≥ kh√°c. Ph·∫£i v ch·ª© ai nh∆∞ c√°i con ph...,1,test,NaN
3336,8410,C·∫£nh S√°t Gi·ª±T Ti·ªÅn = CSGT,1,test,NaN
3337,8411,√îng ƒëi ƒë√¢u m√† l·∫°c sang ƒë√¢y ƒë√¢y,0,test,NaN
...,...,...,...,...,...
22999,46002,"trong tr∆∞·ªùng h·ª£p n√†y, theo ls. khanh, b√† h·∫±ng...",1,test,True
23000,46003,b√† c≈©ng kh√¥ng √≠t l·∫ßn ch·ªâ tr√≠ch n·∫∑ng n·ªÅ nh·ªØng ...,0,test,NaN
23001,46004,‚Äúb√† nguy·ªÖn ph∆∞∆°ng h·∫±ng c√≥ nhi·ªÅu bi·ªÉu hi·ªán ƒë√£ ...,0,test,NaN
23002,46005,v≈© ƒë·ª©c khanh n√≥i. b√† nguy·ªÖn ph∆∞∆°ng h·∫±ng b·∫Øt ƒë...,0,test,NaN
23003,46006,".. tr∆∞·ªõc khi b·ªã b·∫Øt, b√† nguy·ªÖn ph∆∞∆°ng h·∫±ng ƒë√£ ...",0,test,NaN

In [25]:
val

,id,text,label,dataset_type,check
2396,7470,"Cs cha , Cs con , R·∫≠n cha, R·∫≠n con ...ai ƒë√∫ng ...",1,dev,NaN
2397,7471,Long Duy ƒê√†o c√°i t·ªôi ·ªõ,0,dev,NaN
2398,7472,N√≥i g√¨ t√†o lao kg,1,dev,NaN
2399,7473,Ch·∫£ l√†m g√¨ c≈©ng c√≥ fan c·ª©ng =)),0,dev,NaN
2400,7474,Sao l·∫°i c·ª© ƒë·∫øn n·ª• c∆∞·ªùi . l√™n kh√¥ng nghe r√µ l·ªùi...,0,dev,True
...,...,...,...,...,...
22141,45144,b√© trai s∆° sinh ƒë∆∞·ª£c phi h√†nh ƒëo√†n ƒë·∫∑t bi·ªát d...,0,dev,NaN
22142,45145,ch√°y x∆∞·ªüng nh·ª±a ·ªü vƒ©nh ph√∫c trong ƒë√™m kho·∫£ng 2...,0,dev,NaN
22143,45146,"""ƒë·∫øn 2h s√°ng nay l·ª±c l∆∞·ª£ng ch·ª©c nƒÉng ƒë√£ d·∫≠p t...",0,dev,NaN
22144,45147,d·∫°y tr·∫ª c√°ch x√¢y d·ª±ng th·ª±c ƒë∆°n vi·ªác l√™n th·ª±c ƒë...,0,dev,NaN
22145,45148,c√¢u chuy·ªán th·ªïi n·ªìng ƒë·ªô c·ªìn v·∫´n lu√¥n g√¢y tranh...,0,dev,NaN

In [26]:
train.to_csv('Iterations\\Iter1\\train.csv', index=False)

In [27]:
val.to_csv('Iterations\Iter1\\val.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\acer\AppData\Local\Temp\ipykernel_17460\3506965597.py:1: SyntaxWarning: invalid escape sequence '\I'
  val.to_csv('Iterations\Iter1\\val.csv', index=False)

In [28]:
test.to_csv('Iterations\Iter1\\test.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\acer\AppData\Local\Temp\ipykernel_17460\1412780607.py:1: SyntaxWarning: invalid escape sequence '\I'
  test.to_csv('Iterations\Iter1\\test.csv', index=False)